/*global box setup*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* font-family: 'IM Fell English', serif; */

:root {
    /* declare a variable with `--` syntax */
    --darkliver: #5e0e14;
    --silverchalice: #a58f6e;
    --spanishgrey: #caba9e;
    --wine:#66114d;
    --white:#ffff;
  }

body{
    background:var(--darkliver);
    font-family:'IM Fell English', serif;
    font-size: medium;
}
/*============
top box, font and background
==============*/

#theheader /*not to be confused with the element header */{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width:100%;
    height: 35%;
        background: var(--silverchalice);
/* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,245,39,1) 11%, rgba(255,134,36,1) 59%, rgba(54,9,62,1) 79%); */
    color:white;
    border-bottom: var(--darkliver) 10px solid;
    
}

h1 {
    font-size: 300%;
    float:left;
    margin-top: 30px;
    /* border:2px solid crimson; */
    /* background-color: crimson; */
    
}

nav {    
    float:right;
    width: auto;
    height: auto;
    /* border:var(--wine) 5px solid; */
    list-style-type: none;
    background-color: var(--spanishgrey);
}

ul{
    display: flex;

}

li {
    font-size: 155%;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0 25px 0 0;
    background-color: var(--spanishgrey);
    list-style-type: none;
}

/*====================
making that jumbo work
======================*/
#jumbotron {
    height: 300px;
    width: 100%;
    margin-bottom: 15px;
    z-index: 0;
    background-size:auto;
    background-position: center;
    background-color: cyan;
    background-image:url("../images/skullbones.jpg");
    
   
}
/*=====================
text in the jumbotron
======================*/
h2{
    
    font-size: 130%;
    float: right;
    z-index: 1;
    padding: 5px;
    margin-top: -100px;
    margin-right: 40px;
    /* border: black 2px solid; */
    background-color: var(--spanishgrey);
    color:var(--darkliver);

}
/*=============
meat and potatoes
=================*/

.contentsidebar{
    display:flex;
    flex-wrap:wrap;
    background:yellow;
}

.sidebar{
    flex: 1 1 30%;
    background: var(--silverchalice);
    border-right: 4px var(--darkliver) solid;
}

#aboutme{
    margin-right:15%;
    margin-top: 15%;
    display: flex;
    justify-content: flex-end;
    /* border:white 1px solid; */
    font-size: 180%;
    color:var(--darkliver);
}

#mywork{
    margin-right:15%;
    margin-top: 69%;
    display: flex;
    justify-content: flex-end;
    /* border:white 1px solid; */
    color:var(--darkliver);
    font-size: 180%;
}

#contactme{
    margin:15%;
    display: flex;
    justify-content: flex-end;
    /* border:white 1px solid; */
    font-size: 180%;
    Color:var(--darkliver);
}

/* ==================
The content
=============== */

/* the text */
.content{
    flex: 1 1 70%;
    background:var(--spanishgrey);
    min-width: 25ch;
}

#mybodycard{
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 400px;
    width: 90%;
    
    /* border:white dotted 2px; */
    max-width: 400px;
}

.mybody {
    
    color: var(--darkliver);
    background:var(--spanishgrey)
}
/* the pictures  */

.card{
    display: flex;
    padding: 10px 10px 10px 10%;
    flex: 0 0 400px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    
}

#maincard{
    padding: 50px;
    min-height: 250px;
    min-width: 80%;
    background-image: url(../images/engine.jpg);
    background-size:cover;
    background-position: center;
    background-color:chocolate;
}

.maincardheader{
    font-size: 145%;
    position: relative;
    width: 100px;
    right: 15%;
    padding: 10px;
    background: var(--spanishgrey);
    color: var(--darkliver);
    border: var(--darkliver) 3px solid;
}

.minicard{
    
    margin:5px;
    padding: 50px;
    min-height: 50px;
    min-width: 45%;
    background-image: url(../images/skullbones1.png);
    background-size:cover;
    background-position: center;
    background-color:chocolate;
    border:1px var(--darkliver) solid

}

.minicardheader{
    position: relative;
    width:100px;
    right: 5%;
    padding: 10px;
    background: var(--spanishgrey);
    color:var(--darkliver);
    border:var(--darkliver) solid 4px;
    
}

/* =====================
footer 
================== */
footer {
    display: flex;
    margin-top: 6%;
    background-color: var(--silverchalice);
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footerbits{
    
    align-items: center;
    margin: 0 25px 0 0;
    padding: 5px;
    border:var(--darkliver) solid 3px;
    background:var(--spanishgrey);
    color:var(--darkliver);
}

/* ========================
EFFECTS=
/* ================== */

.footerbits:hover{
    background-color: white;
    color: black;
}

li:hover {
    background-color: white;
    color: black;
}

.minicardheader:hover{
  box-shadow: inset 0px 0px 10px rgb(255, 62, 62), 0 0 15px rgb(32, 12, 12);
} 

.minicard:hover, 
.minicardheader:hover .minicard:active{
    width: 150px;
    height: 150px;
    background-color: rgb(255,62,62);
    
    box-shadow: 0px 0px 30px 30px rgb(32, 12, 12);
}

.maincardheader:hover{
    box-shadow: inset 0px 0px 10px rgb(255, 62, 62), 0 0 15px rgb(32, 12, 12);
  } 
  
  #maincard:hover, 
  .maincardheader:hover #maincard:active{
      width: 150px;
      height: 150px;
      background-color: rgb(255,62,62);
      
      box-shadow: 0px 0px 30px 30px rgb(32, 12, 12);
  }
@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
      min-width: 450px;
    }
  }
  



/* .code-card .card-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
} */

/* .cardheader{
    border: black solid 1px;
    background: cadetblue;
    width: 10%;
    position: relative;
    margin-right: -100px;

} */
/* 
#mainpic{
    margin: 10px 0 10px 13%;
    max-block-size: 400px;

} */
/* 
#minicard{
    padding: 50px;
    min-height: 50px;
    min-width: 50px;
    background-image: url(../images/test2.png);
    background-size:cover;
    background-position: center;
    background-color:chocolate;
}
#minicardheader{
   padding: 10px;
   background: white;
   z-index: 6;
} */

/* .minicard{
    display:flex
} */