/*global box setup*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-color: darkslategrey;
    font-size: medium;
}
/*============
top box, font and background
==============*/

#theheader /*not to be confused with the element header */{
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    width:100%;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #122d3a;
    color: #ffffff;
    border: black 5px solid;
    
}

h1 {
    font-size: 300%;
    float:left;
    margin-top: 30px;
    border:2px solid crimson;
    background-color: crimson;
    
}

nav {    
    float:right;
    width: auto;
    height: auto;
    border:black 5px solid;
    list-style-type: none;
    background-color: cyan;
}

ul{
    display: flex;

}

li {
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0 20px 0 0;
    background-color: darkmagenta;
    border:white solid 3px;
    list-style-type: none;
}

/*====================
making that jumbo work
======================*/
#jumbotron {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-color: cyan;
    background-image:url("../images/jumbotron.jpg");
   
}
/*=====================
text in the jumbotron
======================*/
h2{
    font-size: 200%;
    float: right;
    z-index: 1;
    margin-top: -100px;
    margin-right: 40px;
    border: black 2px solid;
    background-color: crimson;
    color:seashell;

}
/*=============
meat and potatoes
=================*/

.contentsidebar{
    display:flex;
    flex-wrap:wrap;
    background:yellow;
}

.sidebar{
    flex: 1 1 30%;
    background:red;
}

#aboutme{
    display: flex;
    justify-content: flex-end;
    border:white 1px solid;
    font-size: 150%;
}

#mywork{
    display: flex;
    justify-content: flex-end;
    border:white 1px solid;
    font-size: 150%;
}

#contactme{
    display: flex;
    justify-content: flex-end;
    border:white 1px solid;
    font-size: 150%;
}

/* ==================
The content
=============== */

/* the text */
.content{
    flex: 1 1 70%;
    background:cyan;
    min-width: 25ch;
}

#mybodycard{
    width: 90%;
    border:white dotted 2px;
    max-width: 400px;
}

.mybody {
    background:blue
}
/* the pictures  */

.card{
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px 10px 10px 10%;
    flex: 0 0 400px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cardheader{
    border: black solid 1px;
    background: cadetblue;
    width: 10%;
    position: relative;
    margin-right: -100px;

}
#mainpic{
    margin: 10px 0 10px 13%;
    max-block-size: 400px;

    

}

/* =====================
footer 
================== */
footer {
    display: flex;
    background-color: darkblue;
    justify-content: space-around;
}

.footerbits{
    
    align-items: center;
    margin: 0 20px 0 0;
    border:white solid 3px;
    background:red;
}